# nginx section

NGINX_DOMAIN_NAME=fundaciobit.org
NGINX_SERVER_NAME=${APP_HOST_SERVER_NAME}
NGINX_SERVER_HTTP_PORT=80
NGINX_SERVER_HTTPS_PORT=443
NGINX_SERVER=${NGINX_SERVER_NAME}.${NGINX_DOMAIN_NAME}
NGINX_SERVER_BASE_URL=http://${NGINX_SERVER}:${NGINX_SERVER_HTTP_PORT}

NGINX_CONF_PATH=${PROJECT_PATH}/builds/nginx-dist/nginx/conf
NGINX_CONF_FILE=default.conf

# end of nginx section