# Custom section 

# Set APP_POM_FILE=$PROJECT_PATH/source/$LONG_APP_NAME_LOWER/pom.xml if you want to use git submodule feature

APP_POM_FILE=$PROJECT_PATH/../$LONG_APP_NAME_LOWER/pom.xml 

SAR_POM_PATH=$PROJECT_PATH/source/sar
SAR_POM_FILE=$SAR_POM_PATH/pom.xml


EAR_FILE=$PROJECT_PATH/../$LONG_APP_NAME_LOWER/$LONG_APP_NAME_LOWER-ear/target/$LONG_APP_NAME_LOWER.ear
SAR_FILE=$PROJECT_PATH/source/sar/target/$LONG_APP_NAME_LOWER.sar


JBOSS_EAP_52_CONF_PATH=${PROJECT_PATH}/builds/jboss-dist/jboss/conf
WILDFLY_CONF_PATH=${PROJECT_PATH}/builds/wildfly-dist/wildfly/conf
CONF_PATH=$JBOSS_EAP_52_CONF_PATH

DS_FILE=$CONF_PATH/$LONG_APP_NAME_LOWER-ds.xml

# End custom section

# path update section
PATH=$JBOSS_HOME/bin:$JAVA_HOME/bin:$M2_HOME/bin:$PATH
# end path update section

# Docker-compose section
CUSTOM_USERNAME=$LONG_APP_NAME_LOWER
CUSTOM_USERID=1000
DOCKER_COMPOSE_DEFAULT_FILE=${PROJECT_PATH}/deploy/default/docker-compose.yaml
DOCKER_COMPOSE_DEV_WILDFLY_FILE=${PROJECT_PATH}/deploy/dev/docker-compose-dev-wildfly.yaml
DOCKER_COMPOSE_DEV_JBOSS52_FILE=${PROJECT_PATH}/deploy/dev/docker-compose-dev-jboss52.yaml

DOCKER_COMPOSE_FILE=$DOCKER_COMPOSE_DEV_JBOSS52_FILE
# end docker-compose section