version: '3.2'
name: keycloak
services:
  keycloak:
    build:
      context: ${DOCKER_PROJECT_PATH}/builds/keycloak-dist
    container_name: keycloak-${APP_PROJECT_NAME}
    hostname: keycloak-${APP_PROJECT_DOCKER_SERVER_NAME}
    environment:
     - KEYCLOAK_ADMIN=${KEYCLOAK_ADMIN_USER}
     - KEYCLOAK_ADMIN_PASSWORD=${KEYCLOAK_ADMIN_PASS}
     - KC_DB=${KEYCLOAK_DB}
     - KC_DB_URL_HOST=${KEYCLOAK_DB_URL_HOST}
     - KC_DB_URL_PORT=${KEYCLOAK_DB_URL_PORT}
     - KC_DB_URL_DATABASE=${KEYCLOAK_DB_URL_DATABASE}
     - KC_DB_URL_SCHEMA=${KEYCLOAK_DB_URL_SCHEMA}
     - KC_DB_USERNAME=${KEYCLOAK_DB_USER}
     - KC_DB_PASSWORD=${KEYCLOAK_DB_PASSWORD}
     - KC_HOSTNAME=localhost
    ports:
     - ${KEYCLOAK_PORT}:8080
     - ${KEYCLOAK_HTTPS_PORT}:8443
  # keycloak:
  #   #image: keycloak/keycloak:18.0
  #   build:
  #     context: ${DOCKER_PROJECT_PATH}/builds/keycloak-dist
  #   container_name: keycloak-${APP_PROJECT_NAME}
  #   hostname: keycloak-${APP_PROJECT_DOCKER_SERVER_NAME}
  #   environment:
  #    - KEYCLOAK_ADMIN=${KEYCLOAK_ADMIN_USER}
  #    - KEYCLOAK_PASSWORD=${KEYCLOAK_ADMIN_PASS}
  #    - KEYCLOAK_IMPORT=/tmp/import-goib-realm.json
  #   ports:
  #    - ${KEYCLOAK_PORT}:8180
  #    - ${KEYCLOAK_HTTPS_PORT}:8443
  #   volumes: 
  #     - ${DOCKER_PROJECT_PATH}/builds/keycloak-dist/keycloak/conf/import-goib-realm.json:/tmp/import-goib-realm.json
  #     - ${KEYCLOAK_HTTPS_KEYSTORE_PATH}:/opt/jboss/keycloak/standalone/configuration/keystores
  #   healthcheck:
  #     test: ["CMD", "curl", "-f", "http://keycloak-${APP_PROJECT_DOCKER_SERVER_NAME}:8180/auth/realms/GOIB"]
  #     interval: 10s
  #     timeout: 10s
  #     retries: 5
  app-db:
    image: postgres:15.2-alpine
    container_name: ${APP_PROJECT_NAME}-pg
    hostname: ${APP_PROJECT_DOCKER_SERVER_NAME}-pg
    #restart: always
    ports:
      - ${PG_PORT}:5432
    volumes:
      - ${DOCKER_PROJECT_PATH}/builds/postgresql-dist/postgresql/bin/docker-entrypoint-initdb.d/00_initdb.sh:/docker-entrypoint-initdb.d/00_initdb.sh:ro
      - ${APP_FILES_BASE_FOLDER}/postgresql/15.2-alpine/data:/var/lib/postgresql/data
      - ${APP_FILES_BASE_FOLDER}/postgresql/15.2-alpine/backups:/app/postgresql/backups
    environment:
      - POSTGRES_PASSWORD=postgres
      - LONG_APP_NAME=${APP_PROJECT_DB_NAME}
      - SHORT_APP_NAME=${SHORT_APP_NAME_LOWER}
      - PGTABLESPACES=/var/lib/postgresql/data/tablespaces
      - LANG=es_ES.UTF-8
      - LANGUAGE=es_ES:es
      - LC_ALL=es_ES.UTF-8
  