<?xml version="1.0" encoding="UTF-8"?>
<datasources>
	<no-tx-datasource>
        <jndi-name>es.caib.emiserv.db</jndi-name>
        <connection-url>jdbc:postgresql://localhost:5441/emiserv</connection-url>
        <driver-class>org.postgresql.Driver</driver-class>
        <user-name>emiserv</user-name>
        <password>emiserv</password>
    </no-tx-datasource>
</datasources>
